.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .bg-design{
  height: 100px;
  width: 100px;
  background-color: #ff0000;
  border-radius: 100%;
  top: 16rem;
  left: 20rem;
} */

@font-face {
  font-family: 'Geo-sans';
  src: url('./assets/Fonts/GeosansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Penna';
  src: url('./assets/Fonts/penna.otf') format('opentype');
}

.geo-sans{
  font-family: 'Geo-sans';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.penna{
  font-family: 'Penna';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}